body{
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}
.navbar{
    position: absolute;
    z-index: 10;
    width: 100%;
}
#principal{
    background-color: #000;
    color: #fff;
}
hr{
    background-color: #17A3B8;
    height: 2px;
}
.fas{
    display: block;
    background-color: #17A3B8;
    text-align: center;
    padding: 3px;
}
.card-body{
    background-color: #17A3B8;
}